<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Royals Mine FD Calculator</title>
    <style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}




    </style>
</head>
<body>
<h1 style="text-align:center;font-family:tahoma;color: blue;">Royals Mine FD Calculator </h1>
<p style="text-align:right;font-family:tahoma"><a href="http://localhost:8080/minefdcal"> Start calculation here</a></p>
<div class="row">
    <div class="column">
        <img src="img.png" alt="Maratha" style="width:80%">
        <h1 style="text-align:center;font-family:tahoma;color: green;">FIFTH ROYALS</h1>
    </div>
    <div class="column">
        <img src="img_1.png" alt="Mine" style="width:100%;height:180%">
    </div>

</div>



<!--<div align="left">
    <img src="" th:src="@{/img.png}"  >
</div>

<div align="right">
    <img src="" th:src="@{/img_1.png}"  >
</div>-->

</body>
</html>